@model Onlinevotingsystem.Models.ElectionVotes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit ElectionVotes</h1>

<hr />
<div class="row blur">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ElectionVoteId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElectionId" class="control-label"></label>
                <input asp-for="ElectionId" class="form-control" />
                <span asp-validation-for="ElectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandidateId" class="control-label"></label>
                <input asp-for="CandidateId" class="form-control" />
                <span asp-validation-for="CandidateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="glow-on-hover" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="text-align:center; margin-bottom:10%;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
