@{
    ViewData["Title"] = "Privacy Policy";
}
<body class="bgprivacy">
    <h1 class="page-title">@ViewData["Title"]</h1>
    <div class="card" style="background: linear-gradient(5deg,grey, transparent);">

        <div class="card-header">
        </div>
        <div class="card-body">
            <h5 class="card-title" style="color:white">Special title treatment</h5>
            <p class="card-text" style="color:white">
                Voting is commonly associated with the sovereign expression of a voter’s will—an expression which multiple theorems from voting theory have shown not to be necessarily aligned with their true desires. We now understand that an important pre-condition for the expression of a voter’s will is the privacy of the ballot, which was not always the case and is still debated—e.g. for ballot selfies. However, most individuals’ voting experiences happen not in national elections but in small settings such as boardrooms or union meetings—which form the main client base of Neovote. This creates new issues when it comes to privacy, as authority figures can often easily exert direct coercive power if the vote goes against their wishes. The coercive power of managers within a company—and the related potential for vote buying—should not be neglected, as they are central to large-scale voting fraud campaigns such as those in Russia. Thus, if we seek to change or enforce norms that guarantee voters’ privacy, smaller-scale votes are an immediate target. The potential for coercion also means that such settings require even more stringent guarantees of privacy, such as publishing not the full tally (from which one could infer some information) but only the result. Before the Covid-19 pandemic, most votes of this kind still happened with paper ballots. The switch to remote work has made this impossible in many settings, leading to the development and partial adoption of many e-voting systems. Some focus on security and privacy , whereas others are purposefully designed with usability and understandability in mind, discarding entirely the question of coercion
             
            </p>

        </div>

    </div>
</body>