@model Onlinevotingsystem.Models.ForgotPass
@{
    ViewData["Title"] = "Forgot_Password";
}
<h4 class="page-title heading">Change Password</h4>
<hr />
<div class="row blur heading">
    <div class="col-md-4"><br />
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="email"placeholder="Enter email" id="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="phoneNo"placeholder="Mobile number" id="phoneNo"class="form-control" />
                <span asp-validation-for="phoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="newPassword" placeholder="New Password" id="newPassword" class="form-control" />
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button asp-action="UpPassword" style="color:white" asp-route-id="1" asp-route-id2="2" asp-route-id3="3" class="glow-on-hover">Update</button>
               
            </div>
        </form>
    </div>
</div>

<@*div>
    <a asp-action="Login">Back to List</a>
</div>*@
<script type="text/javascript">
    function changep() {
    var email = $("#email").val();
    var phoneNo = $("#phoneNo").val();
    var newPassword = $("#newPassword").val();
            $.post("/Users/UpPassword", { email: email, phoneNo: phoneNo, newPassword: newPassword }, function (data) {
        
            });
    alert("Your PassWord have been updated !..");
}
    </script>
<script src="~/js/login.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
