@model Onlinevotingsystem.Models.Reply
<div class="blur">
<div style="text-align:center" class="@Html.DisplayFor(model => model.color)">
    
   <p><b>
            @Html.DisplayFor(model => model.message)</b>
   </p>

        <button value="Login" class="glow-on-hover heading" id="btn-id" onclick="RedirectToLogin()">Go-toLogin</button>
    </div>
</div>
<script type="text/javascript">
function RedirectToLogin() {
    var userurl = "/Users/Login";
    window.location.href = userurl;
}    
</script>
